
.metadata/*

learny-ear/target/*
learny-ejb/target/*
learny-war/target/*

learny-ear/.settings/*
learny-ejb/.settings/*
learny-war/.settings/*

learny-ear/bin/*
learny-ejb/bin/*
learny-war/bin/*

learny-ear/.project
learny-ejb/.project
learny-war/.project

learny-ejb/.classpath
learny-war/.classpath
