@import url(learny/modal.css);
@import url(learny/record.css);

body {
	padding-bottom: 40px;
	padding-top: 20px;
}

a:active,a:focus { /*! Fixed dotted border  issue in FF and IE */
	outline: none;
}

.spinner {
	opacity: 1;
	background: url( ../img/ajax-loader.gif ) no-repeat center center;
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 21;
}

#disabler-container {
    display: none;
    position: fixed;
    opacity: 0;
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
}

#disabler-container.disable {
    display: block;
    opacity: 1;
}

#modal-container {
	display: none;
	position: fixed;
	opacity: 0;
	background: rgba(0, 0, 0, .3);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
}

#modal-container.disable {
	display: block;
	opacity: 1;
}

#ajax-content {
	min-height: 400px;
}

.disabled {
	opacity: 1;
	background: rgba(255, 255, 255, .5);
	display: block;
}

a.icon-ctrl-link {
	opacity: 0.2;
}

a.icon-ctrl-link:hover {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}


.show-delayed {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.hide-delayed {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

table.history-table > tbody > tr > td:hover {
	cursor: pointer;
}

.history-date {
    font-size: 12px;
}

.history-word {
    background: none repeat scroll 0 0 #999999;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 3px;
    padding: 2px;
}

/*! Overriding Bootstrap classes */

/*! TODO remove?*/
.tabs-left>.nav-tabs.margin-right-0 {
	margin-right: 0px;
}

body {
    color: #555555;
}

a:hover{
	color: #333333;
}

.nav>li>a {
	width: 90px;
	text-transform: lowercase;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #999999;
    color: #FFFFFF;
}

a {
    color: #999999;
}
.nav-pills > li > a {
    border-radius: 0px;
}

abbr.initialism-lowercase {
    font-size: 90%;
    text-transform: lowercase;
}

/*! Overriding typeahead classes */

.tt-suggestion.tt-is-under-cursor {
    background-color: #999999;
    background-image: linear-gradient(to bottom, #333333, #999999);
}