
    <!--Sidebar content-->
    <div class="well sidebar-nav">
        <ul id="nav" class="nav nav-list">
            <li class="active"><a class="id_about" href="#about"><%= $.i18n.prop('About') %></a></li>
            <li><a class="id_news" href="#news"><%= $.i18n.prop('News') %></a></li>
            <li><a class="id_record" href="#record"><%= $.i18n.prop('Record') %></a></li>
            <li><a class="id_settings" href="#settings"><%= $.i18n.prop('Settings') %></a></li>
            <li><a class="id_contact" href="#contact"><%= $.i18n.prop('Contact') %></a></li>
        </ul>
    </div>
