<td class="id_original" style="width: 100px;">
	<b><%- word.value %></b>
</td>
<td>
	<ul class="inline">
	
		<% if (word.type) { %>  
			<li> <abbr title="<%= word.typeLocalized %>" class="initialism-lowercase"><em><%-word.type %></em></abbr></li> 
		<% } %>
		   
		<% if (word.gender) { %>  
			<li> <abbr title="<%= word.genderLocalized %>" class="initialism-lowercase"><em><%-word.gender %></em></abbr></li><br>
		<% } %> 
	
	<% _.forEach(word.translations, function(translation, index) { %>

		<li>
			 <%-translation.value %> 
			 <% if (translation.extended) { %> <em>(<%-translation.extended %>)</em> <% } %>
		</li>
	
	<% gender = translation.gender;
	   type = translation.type; %>
	<% }); %>
	</ul>
</td>


<td style="width: 10px;">
	<a href="#" id="remove-word" class="icon-ctrl-link"
		title="<%= $.i18n.prop('Remove') %>">
		<i class="icon-remove"></i>
	</a>
</td>



`

