<section class="record-section">

<ul class="breadcrumb">
  <li><a href="#history">All</a> <span class="divider">/</span></li>
  <li class="active"><%= record.name %></li>
  <a id="calendar-open-link" class="open-link pull-right"><%=
		record.dateCreatedFormatted %></a>
</ul>

	<aside class='record-calendar' id="record-calendar"></aside>

	<div id="words-table"></div>

	<% if (record.rules && record.rules.lenght > 0) { %>
	<div class="record-component sepatator-top">
		<h4><%= $.i18n.prop('Rules') %></h4>
		<% _.forEach(record.rules, function(rule, index) { %>
		<div><%= rule.text %></div>
		<% }); %>
	</div>
	<% }%>
	<div id="record-comments"></div>
</section>